*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.mytitle{
	overflow: hidden;
  position: relative;
  margin: 35px 15px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

}
.mytitle:before,
.mytitle:after {
	 content: '';
  display: inline-block;
  position: relative;
  top: -4px;
  width: 50%;
  height: 4px;
  vertical-align: middle;
  background: black;
}
.mytitle:before{
	left: -10px;
  margin-left: -50%;
}
.mytitle:after{
	left: 10px;
  margin-right: -50%;
}
