*{

	box-sizing: border-box;
}
ol{
	list-style: none;
	counter-reset: li;
	display: flex;
    flex-direction: column-reverse;

}
li:before{
	counter-increment: li;
	content: counters(li,".")". ";
}
