*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	height: 100vh;
	background: -moz-linear-gradient(-45deg,  #261d1f 0%, #473836 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #261d1f 0%,#473836 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #261d1f 0%,#473836 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#261d1f', endColorstr='#473836',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.main-wrapper{
	width: 940px;
	min-height: 395px;
	display: flex;
	margin: 0 auto;
}
.menu-img{
	width: 330px;
	position: relative;

}
.menu-img img{
	height: 100%;
}
.menu-img_propose{
	position: absolute;
	bottom: 30px;
	right: 5px;
	color: white;
	width: 335px;
	height: 215px;
	background-color: black;
	text-transform: uppercase;
	padding: 30px;
}
.menu_list{
	width: 610px;
	background: white;
}
.menu-img_propose_title{
	text-align: center;
	font-size: 3.8rem;

}
.menu-img_propose_price{
	text-align: center;
}
.menu-img_propose_price span:first-child{
	color: yellow;
}
.menu_list{
	width: 610px;
	background: white;
		position: relative;
}
.menu_list_wrap{
	display: flex;
}
.menu_list_title{
	padding: 40px 0;
	text-align: center;

}
.menu_list_wrap_item{
	width: 50%;

}
.menu_list_item{
	width: 200px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #d5d5d5;
	padding-top: 24px;
	position: relative;
}
.menu_list_item:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: #d5d5d5;
	transform: rotate(45deg);
	position: absolute;
	left: calc(50% - 5px);
	bottom: -5px;


}
.menu_list_item:first-child{
	padding-top: 0;
}
.menu_list_item_title{
	font-size: 1.5rem;
	padding-bottom: 12px;
	font-weight: bold;
}
.uppercase{
	text-transform: uppercase;
}
.menu_list_item_price{
	padding-bottom: 24px;
	text-transform: uppercase;
	color: grey;
}
.btn{
	width: 175px;
	height: 85px;
	background: black;
	color: white;
	text-align: center;
	line-height: 55px;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: -90px;
}
