*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.wrapper{
	width: 320px;
	height: 513px;
	border: 5px solid #55d2f0;
	border-radius: 15px;
	
	
}
.calculator_title{
	margin-top: 15px;
	padding: 15px 20px;
	background:#55d2f0;
	text-align: right;
	font-size: 17px;
}
.calculator_input{
	width: 290px;
	height: 50px;
	margin: 15px 0 15px 10px;
	border: 5px solid #55d2f0;
	border-radius: 15px;
	color: #55d2f0;
	font-size: 23px;
  	direction: RTL;


}
.calculator_box{
	width: 100px;
	height: 50px;
	background: #55d2f0;
	float: right;
	margin-right: 10px;
}
.calculator_btn{
	align-items: center;
	clear: both;
}
.wrap_bottons{
	padding: 10px;
}
.calculator_numer{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px;
	border: 5px solid #55d2f0;
	border-radius: 15px;
	float: left;
	font-size: 20px;
	color: #55d2f0;
	transition: .3s;
	font-weight: bold;
	
}
.calculator_numer:hover{
	color: white;
	background: grey;

}
.calculator_numer:active{
	color: red;
	background: darkseagreen;
	border-color: grey;
	transition: .2s;
}