
* Background Images - Practice
* CSS Styles
*

body{
	width: 1296px;
}

header:first-child{
	height: 432px;
	background: no-repeat url("../img/bg-01.jpg");
	background-position: -59px -160px;
    background-size: 111%;
}	
.menu{
	height: 50px;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	margin-bottom: 100px;
	background: rgba(0,0,0,0.4);
}
.menu li{
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;

}
.menu li:hover{
	background: #b91a34;
}
.menu li a{
	color: white;
}
.menu li:first-child{
	margin-left: 225px;
}
h1{
	text-align: center;
	color: white;
	font-family: "Metal Mania";
	font-size: 85px;
}
header .container .button{
	width: 288px;
	height: 53px;
}
.button{
display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#de0102+0,ff3670+100 */
background: rgb(222,1,2); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(222,1,2,1) 0%, rgba(255,54,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(222,1,2,1) 0%,rgba(255,54,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(222,1,2,1) 0%,rgba(255,54,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de0102', endColorstr='#ff3670',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
;
}

h2{
	text-align: center;
	font-family: "Open Sans";
	font-size: 2rem;
}
body .container{
	background: url("../img/bg.png");
	padding: 0 225px;
}
.tour-card .button{
	height: 35px;	
}
.tour-card{
	color: white;
}
.photo:hover{
	background: no-repeat url("../img/gallery/originals/gallery-01.jpg");

}
.container{
	clear: both;
}
.container .tour-card{
	width: calc((100% - 18px* 3) / 4);
	height: 216px;
	float: left;
	margin-right: 18px;
}
.container .tour-card:last-child{
	margin-right: 0;
}
.madrid{
	background: no-repeat url("../img/tour/madrid.jpg");
	background-size: cover;
}
.turin{
	background: no-repeat url("../img/tour/turin.jpg");
	background-size: cover;
}
.hamburg{
	background: no-repeat url("../img/tour/hamburg.jpg");
	background-size: cover;
}
.krakow{
	background: no-repeat url("../img/tour/krakow.jpg");
	background-size: cover;	
}
/*
.container .photo{
	width: calc((100% - 20px* 5) / 6);
	float: left;
	margin-right: 20px
}
.container .photo:last-child{
	margin-right: 0;
}*/
/* Gallery */



/* Subscribe */



/* Footer */


