*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	display: flex;
	justify-content: center;
	}
.wrapper{
	position: relative;
	width: 760px;
	background: #d1d1d1;
	padding: 57px 62px 109px;
}
.wrapper_doc{


}
.header{
	height: 149px;
	background: no-repeat url("../images/header_bg.gif");
	background-size: cover;
}

.main{
	position: relative;
	width: 100%;
	padding: 59px 50px 30px;
	background: white;
}
.title{
	padding-bottom: 37px;
	font-family: 'Roboto', sans-serif;
}

.main_title{
	text-align: center;
}
.text_bold{
	font-weight: bold;

}
p{

}
.service{

}
.service_detail{

}
.service_images{

}
.img1{
	height: 215px;
	background: no-repeat url("../images/i1.png");
	background-size: cover;
}
.img2{
	height: 215px;
	background: no-repeat url("../images/i2.png");
	background-size: cover;
}
.img3{
	height: 215px;
	background: no-repeat url("../images/i3.png");
	background-size: cover;
}
.img4{
	height: 215px;
	background: no-repeat url("../images/i4.png");
	background-size: cover;
}
.img5{
	height: 215px;
	background: no-repeat url("../images/i5.png");
	background-size: cover;
}
.service_title{
	word-wrap: break-word;
	text-align: center;
	font-family: sans-serif;
}
.service_sign{
	height: 41px;
	background: #cf5b4e;
	border-radius: 3px;
	


}

.link_sign{
	color: white;
	text-decoration: none;
	font-size: 18px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    	transition: .4s;
}

.link_sign:hover{
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, black, white);
	font-size: 25px;


}
.service_sign:hover{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaeaea+1,00ea0b+100 */
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top,  #eaeaea 1%, #00ea0b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eaeaea 1%,#00ea0b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eaeaea 1%,#00ea0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ea0b',GradientType=0 ); /* IE6-9 */

	font-family: sans-serif;
	color: white;
	font-weight: bold;

}
.col-1-2 .service_detail{
	width: calc((100% - 20px* 1) / 2);
	float: left;
	margin-right: 20px;
	padding-bottom: 30px;
	min-height: 200px;
}
.col-1-2 .service_detail:last-child{
	margin-right: 0;

}
.col-1-3 .service_detail{
	width: calc((100% - 20px* 2) / 3);
	float: left;
	margin-right: 20px;
	padding-bottom: 37px;
}
.col-1-3 .service_detail:last-child{
	margin-right: 0;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.footer{
	position: absolute;
	bottom: 80px;
   
}
.btn{
	font-family: sans-serif;
}


