*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.container{

}
.burger-menu{
	width: 100%;
	height: 50px;
	background: #272727;
	position: relative;
}
/*.logo-header{
	width: 30%;
	position: absolute;
	left: 3%;
	top: 50%;
	transform: translate(0, -50%);
}*/
.header-icon-like{
	width: 24px;
    height: 21px;
	background: no-repeat url(../images/header-icon/like-icon.png);
	background-size: 90%;
	position: absolute;
	right: 122px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 2;
}
.header-icon-log{
	width: 15px;
    height: 21px;
	background: no-repeat url(../images/header-icon/log-icon.png);
	background-size: 90%;
	position: absolute;
	right: 91px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 2;
}
.header-icon-lock{
	width: 17px;
    height: 21px;
	background: no-repeat url(../images/header-icon/lock-icon.png);
	background-size: 90%;
	position: absolute;
	right: 60px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 2;
}
.logo-menubox{
	width: 80%;
	padding-left: 24px;
}
.menu-btn{
  	display: flex;
  	align-items: center;
  	position: absolute;
   	position: absolute;
    right: 10px;
	top: 50%;
	transform: translate(0, -50%);
 	width: 30px;
  	height: 26px;
  	cursor: pointer;
  	z-index: 1;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  	display: block;
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	background-color: #FFFFFF;
  	transition-duration: .25s;
}
.menu-btn > span::before {
  	content: '';
  	top: -8px;
}
.menu-btn > span::after {
  	content: '';
  	top: 8px;
}
 
.menubox{
  	display: block;
 	position: fixed;
 	visibility: hidden;
 	top: 0;
 	left: -100%;
  	width: 270px;
  	/*height: 100%;*/
  	margin: 0;
  	padding: 80px 0;
  	list-style: none;
 	background-color: #272727;
 	transition-duration: .25s;
 	z-index: 1;
}
 
.menu-item {
  	display: block;
  	padding: 12px 24px;
  	color: #FFFFFF;
  	font-family: Futura PT;
	font-style: normal;
	font-weight: 450;
	font-size: 1rem;
	line-height: 1.313rem;
  	text-decoration: none;
 	transition-duration: .25s;
}
.menu-item:hover {
  	background-color: #CFD8DC;
}
 
 
#menu-toggle{
  	opacity: 0;
}
 
#menu-toggle:checked ~ .menu-btn > span{
  	transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
 	 top: 0;
  	transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  	top: 0;
  	transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  	visibility: visible;
  	left: 0;
}

.container-main-1{
	min-height: 375px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
/*position: relative;*/
}

.main-first-left{
	
 	grid-area: 1 / 1 / 2 / 8;
 	padding-left: 10px;
 	padding-right: 20px;
 	position: relative;
}
.logo-box{
	padding-top: 10px;
	width: 20vh;
}
.container-main-item{
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	font-size: 1.313rem;
	/*line-height: 71px;*/
	text-align: right;
	padding-top: 35px;
}
.container-main-third{
	font-family: Segoe UI;
	font-style: italic;
	font-weight: 300;
	font-size: 0.625rem;
	/*line-height: 24px;*/
	text-decoration: none;
	text-align: right;
}
.container-main-lang{
	position: absolute;
	left: 30px;
	bottom: 30px;
}
.container-main-lang-ua{
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 21px;
	text-decoration: none;
	color: #272727;
}
.container-main-lang-en{
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 21px;
	text-decoration: none;
	color: #C4C4C4;
}
.container-main-ring{
	width: 110px;
    height: 60px;
	position: absolute;
	top: 150px;
	right: -60px;
	background: no-repeat url(../images/ring.png);
	background-size: 100%;
	z-index: integer;
}
.main-first-right{
 	grid-area: 1 / 8 / 2 / 13; 
 	background: #272727;
 	padding-right: 10px;
 	padding-top: 280px;
}
.main-first-ring{
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 0.838rem;
	line-height: 21px;
	text-align: right;
	color: #FFFFFF;
}
.main-first-gold{
	font-family: Futura PT;
	font-style: normal;
	font-weight: 300;
	font-size: 0.738rem;
	line-height: 23px;
	text-align: right;
	color: #C2C2C2;
}
.main-first-price{
	font-family: Segoe UI;
	font-style: italic;
	font-weight: 300;
	font-size: 1.125rem;
	line-height: 24px;
	text-align: right;
	color: #EFC58B;
 	writing-mode: bt-rl;
}
.container-main-2{

}
.main-second-left{
	min-height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: no-repeat url(../images/for-man.png);
	background-size: 100%;
	margin: 10px 0 10px;
	
}
.main-second-right{
	min-height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	background: no-repeat url(../images/for-woman.png);
	background-size: 100%;
	margin: 0 0 10px;
	 
}
.main-second-item{
	font-family: Futura PT;
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 31px;
	color: #FFFFFF;
}
.main-second-link{
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 71px;
	color: #FFFFFF;
}
.main-second-border{
	
	width: 50px;
	border-bottom: 1px solid #FFFFFF;
	
}
.container-main-3{

}
.main-three-search{
	min-height: 265px;
	background: #272727;
	margin-bottom: 10px;
	padding: 0 40px;
}

.main-three-map{
	min-height: 265px;
	background: no-repeat url(../images/map.png);
	background-size: cover;
	margin-bottom: 10px;
}

.main-three-title{
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 35px;
	color: #FFFFFF;
	padding-top: 35px;
}
.main-three-adres{
	font-family: Futura PT;
	font-style: normal;
	font-weight: 300;
	font-size: 0.940rem;
	line-height: 23px;
	color: grey;
}
.container-main-4 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;

}

.main-decorations-one {
	min-height: 187px;
 	grid-area: 1 / 1 / 2 / 2; 
 	background: #EDEDED;
 	padding-left: 10px;

}
.main-decorations-second {
	min-height: 187px;
 	grid-area: 1 / 2 / 2 / 3; 
 	background: #EDEDED;
 	padding-left: 10px;
}
.main-decorations-third {
	min-min-height: 265px;
 	grid-area: 2 / 1 / 3 / 3;
 	background: no-repeat url(../images/decorations.png);
 	background-size: cover;
 	padding-left: 10px;
}
.main-decorations-fore {
	min-height: 187px;
 	grid-area: 3 / 1 / 4 / 2; 
 	background: #EDEDED;
 	padding-left: 10px;
}
.main-decorations-five {
	min-height: 187px;
 	grid-area: 3 / 2 / 4 / 3;
 	background: #EDEDED;
 	padding-left: 10px; 
}
.main-decorations-name{
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 0.850rem;
	line-height: 21px;
	text-transform: uppercase;
	color: #272727;

}
.main-decorations-detail{
	font-family: Futura PT;
	font-style: normal;
	font-weight: 300;
	font-size: 0.850rem;
	line-height: 23px;
	color: #757575;
}
.main-decorations-price{
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 0.850rem;
	line-height: 24px;
	color: #E2B67A;
}

@media (min-width: 767px){

}