*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.wrapper{
	max-width: 960px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
}
.main-personal-data{
	max-width: 25%;
	min-width: 200px;
	background-color: #3f6592;
	
	
}
.personal-image{
	padding: 20px;
}
img{
	border-radius: 50%;
}
.personal-item-information{
	
}
.personal-item-info{
	margin-bottom: 10px;
	margin-left: 20px;	
}
.personal-data{
	font-family: sans-serif;
	font-size: 20px;
	
	border-bottom: 1px solid #dadce0;
	color: white;
	margin-bottom: 10px;


}
.personal-all-detailed{
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	
}
.personal-detailed{
	font-size: 12px;
	color: white;
	margin-bottom: 10px;
}
.personal-languages{
	display: flex;
	justify-content:space-between;
}
.personal-lang-detai{
	font-size: 12px;
}
.main-pesonal-expirience{
	background-color: rgb(255, 255, 255);
	padding: 20px;
	
}
.expirience-name{
	font-size:33px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}
.expirience-info{
	margin-bottom: 10px;
}
.expirience-detail{
	font-size:25px;
	border-bottom: 1px solid black;
	margin-bottom: 6px;
	
}
.expirience-pos-date{
	display: flex;
	justify-content: space-between;
}
.expirience-position{
	font-size: 20px;
	margin-bottom: 6px;
}
.expirience-date{
	font-size: 12px;
}
.expirience-adres{
margin-bottom: 6px;
}
.expirience-detailed{
	font-size: 12px;

}
