*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
body{
	width: 1296px;
	display: flex;
	justify-content: center;
}
a{
	background: no-repeat url("../images/sprite.jpg");
  background-repeat: no-repeat;
  height: 127px;
  width: 148px;
  display: inline-block;
}
a.vk { 
	background-position: left bottom;
	transition: .3s; 
}
a.face { 
	background-position: -148px bottom;
	transition: .5s; 
}
a.twit { 
	background-position: -296px bottom;
	transition: .5s; 
}
a.vk:hover { 
	background-position: left top; 
}
a.face:hover { 
	background-position: -148px top; 
}
a.twit:hover { 
	background-position: -296px top; 
}

